.ville{

    background: rgba(0, 0, 0, 0.7) url('../../assets/images/photo11.jpg');
    height: 600px;
    background-position: center;
    /*background-size: cover;*/
    background-blend-mode: darken;
   
}

tr td {
    color:white;
}